* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #f2f1ef, #e4d7eb, #e5d1dd, pink, violet, #b36187,  purple );
}

.contenitore {
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h3 {
    padding: 50px 0;
}